<!doctype html>
<html>
    <body>
        <div class="container-outer">
            <footer>
                <ul class="logos-services">
                <% services.forEach(service => { %>
                    <li class="logo-service">
                        <a href="<%= service.link %>" title="<%= service.description %>">
                            <div class="logo logo-big logo-<%= service['title-short'] %>"></div>
                            <h4><%- service.title %></h4>
                        </a>
                    </li>
                <% }) %>
                </ul>
                <ul class="logos-brands">
                <% logos.forEach(logo => { %>
                    <li class="logo-brand">
                        <a rel="nofollow" target="_blank" href="<%= logo.link %>">
                            <div class="logo logo-<%= logo.title %>"></div>
                        </a>
                    </li>
                <% }) %>
                </ul>
            </footer>
        </div>
        <script src="bundle.js?v=<%= version %>"></script>
    </body>
</html>
